.footer {
  background-color: #0B1524;
}
.footer-wrapper {
  padding-top: 201px;
  padding-bottom: 97px;
}
.footer-logo {
  width: 176px;
  height: 52px; 
}
.footer-list {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  list-style-type: none;
}
.location {
  margin-right: 27px;
  width: 24px;
  height: 24px;
}
.footer__box-1 {
  width: 154px;
  display: flex;
  justify-content: space-between;
}
.footer__box-2 {
  margin-top: 19px;
  width: 167px;
  display: flex;
  justify-content: space-between;
}
.footer__link-1 {
  display: block;
  height: 21px;
  font-family: 'OpenSans';
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
}
.footer__link-1 ~ .footer__link-1 {
  margin-top: 19px;
}
.footer__link-2 {
  display: block;
  height: 22px;
  font-family: 'OpenSans';
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #FFFFFF;
}
.footer__link-2 ~ .footer__link-2 {
  margin-top: 16px;
}
.footer-item1 {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer-lorem {
  margin: 0;
  padding: 0;
  width: 339px;
  height: 72px;
  font-family: 'OpenSans';
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.akkaunt {
  text-decoration: none;
}
.akkaunt ~ .akkaunt {
  margin-left: 13px;
}
.akkaunt-img {
  width: 32px;
  height: 31px;
}

@include breakpoint-down(375px) {
  .footer-list {
    flex-direction: column;
  }
}
