header {
  padding-top: 70px;
  background-color: #1B2330;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@include breakpoint-down(500px) {
  .header-logo {
    width: 136px;
    height: 25px;
    
  }
  .header-list {
    width: 171px;
  }
}