.work-section {
  padding-top: 136px;
  background-color: #181F2B;
}
.work-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work-story {
  width: 563px;
}
.story-heading {
  padding-right: 70px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
}

.story-text {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  padding-right: 70px;
  font-family: 'OpenSans';
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.story-link {
  margin-top: 24px;
  font-family: 'OpenSans';
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #62E0D9;
}

.story-link:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #62E0D9;
}

.link-img {
  position: relative;
  right: -8px;
  width: 14px;
  height: 14px;
}

.work-img {
  width: 615px;
  height: 464px;
}

@include breakpoint-down(375px){
  .work-wrapper {
    flex-direction: column;
  }
  .work-img {
    width: 304px;
    height: 230px;
  }
  .story-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
  }
  .work-story {
    width: 320px;
  }
  .story-text {
    padding: 0;
  }
}